
.slider-container {
    background: linear-gradient(rgba(29, 34, 39,0.86),rgba(29, 34, 39,0.86)), url('imagenes/fondo-cartillas.gif') no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 97%; /* 1200px + 10% */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: #1d2227;
    padding: 22px; /* 20px + 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 22px; /* 20px + 10% */
    transition: transform 0.5s ease;
}

.card {
    background-color: #303841;
    border-radius: 11px; /* 10px + 10% */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    height: 400px; /* Ajusta la altura de las tarjetas según sea necesario */
}

.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.card-content {
    font-family: Lexend,sans-serif;
    font-weight: normal;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    color: #f0f0f0;
    padding: 15px; /* Espacio dentro del contenido */
    border-radius: 0 0 11px 11px; /* Esquinas redondeadas inferiores */
}

.card-content h3 {
    margin: 0;
    font-size: 1.2em; /* 1em + 20% */
    color: #f0f0f0;
}

.card-content p {
    margin: 5px 0 0;
    font-size: 0.9em; /* 1em - 10% */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #303841;
    border: none;
    border-radius: 50%;
    width: 44px; /* 40px + 10% */
    height: 44px; /* 40px + 10% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
    font-size: 27px; /* 24px + 10% */
    cursor: pointer;
    z-index: 10;
}

.arrow-left {
    left: 12px; /* 10px + 10% */
}

.arrow-right {
    right: 12px; /* 10px + 10% */
}
